.memory-card {
  border: 3px solid white;
  border-radius: 5px;
  background-color: white;
  background: url("../../images/moob.jpg");
  background-size: cover;
}

.pink {
  background: url("../../images/img1.jpg");
  background-size: cover;
}
.red {
  background: url("../../images/img2.jpg");
  background-size: cover;
}
.orange {
  background: url("../../images/img3.jpg");
  background-size: cover;
}
.yellow {
  background: url("../../images/img4.jpg");
  background-size: cover;
}
.teal {
  background: url("../../images/img5.jpg");
  background-size: cover;
}
.green {
  background: url("../../images/img6.jpg");
  background-size: cover;
}
.blue {
  background: url("../../images/img7.jpg");
  background-size: cover;
}
.purple {
  background: url("../../images/img8.jpg");
  background-size: cover;
}

.color {
  background-size: cover;
}
