.text-container {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  background-color: white;
  color: pink;
  padding: 20px;
}

.game-container {
  width: 40vw;
  margin: 1vw auto;
  background-color: black;
}
#esponsive-navbar-nav {
  color: pink;
}
