.status-bar {
  display: flex;
  align-items: center;
  background-color: black;
}
.status {
  flex: 1;
}
.button {
  flex: 0;
  color: pink;
  margin: 15px;
}

.status-bar p {
  color: pink;
  margin: 10px;
}
